<% if @final.present? %>
  <% if @final.errors.any? %>
    <% @final.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new final
</h1>


<hr>

<form action="/create_final" method="post">

  <div class="form-group">
    <label for="course_identifier">
      Course identifier
    </label>

    <input type="text" id="course_identifier" name="course_identifier" class="form-control" value="<%= @final.course_identifier %>">
  </div>

  <div class="form-group">
    <label for="section">
      Section
    </label>

    <input type="text" id="section" name="section" class="form-control" value="<%= @final.section %>">
  </div>

  <div class="form-group">
    <label for="course_name">
      Course name
    </label>

    <input type="text" id="course_name" name="course_name" class="form-control" value="<%= @final.course_name %>">
  </div>

  <div class="form-group">
    <label for="instructor">
      Instructor
    </label>

    <input type="text" id="instructor" name="instructor" class="form-control" value="<%= @final.instructor %>">
  </div>

  <div class="form-group">
    <label for="start_time">
      Start time
    </label>

    <input type="text" id="start_time" name="start_time" class="form-control" value="<%= @final.start_time %>">
  </div>

  <div class="form-group">
    <label for="end_time">
      End time
    </label>

    <input type="text" id="end_time" name="end_time" class="form-control" value="<%= @final.end_time %>">
  </div>

  <div class="form-group">
    <label for="day">
      Day
    </label>

    <input type="text" id="day" name="day" class="form-control" value="<%= @final.day %>">
  </div>

  <div class="form-group">
    <label for="date">
      Date
    </label>

    <input type="text" id="date" name="date" class="form-control" value="<%= @final.date %>">
  </div>

  <div class="form-group">
    <label for="room">
      Room
    </label>

    <input type="text" id="room" name="room" class="form-control" value="<%= @final.room %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create final
  </button>
</form>

<hr>

<a href="/finals">
  Go back
</a>
